<ul>
    <li>Name: {{name}}</li>
    <li>ID: {{id}}</li>
    <li>Year Published: {{year_published}}</li>
    <li>Min Players: {{min_players}}</li>
    <li>Max Players: {{max_players}}</li>
    <li>Min Playtime: {{min_playtime}}</li>
    <li>Max Playtime: {{max_playtime}}</li>
    <li>Min Age: {{min_age}}</li>
    <li>Description: {{description}}</li>
</ul>

<button class="addToGroup" id={{id}}>Add a Game to a Group</button>